@tailwind components;

.e-content a,
.mention-content a {
  @apply text-purple-700;
}

code,
pre {
  font-size: 16px !important;
  font-variant-ligatures: none;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

@tailwind utilities;
