@import "./variables.scss";

:root {
  color-scheme: light dark;
  --page-background: #{$gray-100};
  --body-color: #{$indigo-900};
  --link-color: #{$purple-700};

  --secondary-background: #{$purple-100};
  --separator-color: #{$purple-200};

  --primary-shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-shadow-color: rgba(0, 0, 0, 0.06);

  @media (prefers-color-scheme: dark) {
    --page-background: #{$gray-900};
    --body-color: #{$purple-100};
    --link-color: #{$purple-300};

    --secondary-background: #{$purple-900};
    --separator-color: #{$purple-900};

    --primary-shadow-color: rgba(255, 255, 255, 0.05);
    --secondary-shadow-color: rgba(255, 255, 255, 0.03);
  }
}

.e-content {
  a {
    color: var(--link-color);
  }

  hr {
    background-color: var(--separator-color);
    height: 2px;
  }
}

body {
  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 0.8rem;
    font-variant-ligatures: none;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
