@import "./variables.scss";

@tailwind components;

.e-content a {
  color: $purple-700;
}

/* purgecss start ignore */
body code[class*="language-"],
body pre[class*="language-"] {
  font-size: 0.8rem;
  font-variant-ligatures: none;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* purgecss end ignore */

@tailwind utilities;
