@import "./variables.scss";

.e-content a {
  color: $purple-700;
}

body code[class*="language-"],
body pre[class*="language-"] {
  font-size: 0.8rem;
  font-variant-ligatures: none;
  margin-top: 0;
  margin-bottom: 1rem;
}
