@import "./variables.scss";

.title {
  color: $purple-800;
  text-decoration: none;
}

.readMore {
  color: $purple-600;
  font-style: italic;
  font-size: 0.9rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: spacing(4);
}

.mentionCount {
  color: $purple-600;
  margin-right: spacing(3);
  font-size: 0.9rem;

  svg {
    margin-right: spacing(1);
    font-size: 0.75rem;
  }
}

.separator {
  height: spacing(1);
  background-color: $purple-200;
  margin: spacing(10) auto spacing(12) auto;
  width: 33.3333%;
  border-radius: 9999px;
}

.seeMore {
  text-align: center;
  margin-top: spacing(8);

  a {
    color: $purple-700;
  }
}

.pinnedPosts hr {
  margin-top: spacing(15);
}

.pinned {
  background-color: $purple-100;
  padding: spacing(5) spacing(4) spacing(4) spacing(4);
  border-top: 4px solid $purple-300;
  margin-bottom: spacing(6);
  @include shadow-md;

  h2 {
    font-size: 1.3rem;
  }

  .dateBubble {
    background-color: white;
  }
}

.pinnedLabel {
  flex-grow: 1;
  display: flex;
  align-self: flex-end;
  align-items: center;

  color: $purple-400;
  font-style: italic;
  font-size: 0.85rem;

  svg {
    margin-right: spacing(2);
  }
}

.archiveYear {
  margin-bottom: 0.6rem;
}

.archiveTitle {
  padding-bottom: spacing(1);
  margin-bottom: spacing(10);
  border-bottom: 4px solid $purple-200;
}

.archives {
  list-style: none;
  margin-left: 0;

  a {
    color: $purple-700;
  }

  .articleCount {
    font-size: 0.9rem;
    color: $purple-400;
  }
}
