@import "./variables.scss";

:root {
  --date-bubble-background: #{$purple-100};
  --date-bubble-text-color: #{$purple-600};
  --date-bubble-hover-color: #{$purple-500};

  @media (prefers-color-scheme: dark) {
    --date-bubble-background: #{$purple-900};
    --date-bubble-text-color: #{$purple-300};
    --date-bubble-hover-color: #{$purple-600};
  }
}

%bubble {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--date-bubble-text-color);
  background-color: var(--date-bubble-background);
  border-radius: 0.5rem;
}

.bubble {
  @extend %bubble;
  padding: spacing(2) spacing(3);
  @include shadow-md;
}

.link {
  @extend %bubble;
  padding: spacing(2) spacing(3) spacing(1) spacing(3);
  border-bottom: 3px solid transparent;
  @include shadow;

  &:hover {
    @include shadow-md;
    border-color: var(--date-bubble-hover-color);
  }

  time {
    margin-left: spacing(1);
  }
}
