@import "./variables.scss";

:root {
  --project-dark-color: #{$purple-800};
  --project-pill-border-color: #{$purple-200};
  --project-cell-border-color: #{$purple-300};

  @media (prefers-color-scheme: dark) {
    --project-dark-color: #{$purple-200};
    --project-pill-border-color: #{$purple-800};
    --project-cell-border-color: #{$purple-700};
  }
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: spacing(-1) 0 spacing(1) 0;
  font-size: 0.9rem;
  color: var(--project-dark-color);
}

%pill {
  background-color: var(--secondary-background);
  color: var(--project-dark-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0 spacing(2) spacing(2) 0;
  padding: spacing(1) spacing(2);
  border-radius: 0.25rem;
  border: 1px solid var(--project-pill-border-color);

  .label {
    font-size: 0.75rem;
    margin-left: spacing(2);
  }
}

.repository {
  @extend %pill;
}

.uses {
  @extend %pill;
}

.cell {
  border: 1px solid var(--project-cell-border-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-background);
  margin-bottom: spacing(5);
  @include shadow;

  a {
    display: block;
    padding: spacing(4);
    text-decoration: none;
  }

  h3,
  p {
    font-size: 0.9rem;
  }

  h3 {
    margin-bottom: spacing(2);
    color: var(--project-dark-color);
  }

  p {
    margin-bottom: 0;
    color: var(--body-color);
  }
}
